<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <h1>SoccerU API</h1>
          <ul class="nav navbar-nav navbar-right">
            {{#if user }}
              <li><a href="/sign-out">Logout</a></li>
            {{else}}
              <li><a href="/sign-in">Sign In</a></li>
              <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
          </ul>
        </div>
    </div>
</nav>