<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="An API to serve real soccer data"/>
    <meta name="author" content="Medi Assumani"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title="SoccerU"></title>
    <link rel="stylesheet" href="/css/all.css">

</head>
<body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>  

    <!-- Adding the Navigation Bar-->
    {{> navbar }}
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>